{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
    <div class="container mt-4">
        <h2>{{title}}</h2>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ render_field(form.username, class="form-control form-control-lg") }}
                {{ render_field(form.password) }}
                {{ render_field(form.remember_me) }}
                {{ form.submit(class="btn btn-primary") }}
            </form>
    </div>
{% endblock %}