{% extends 'base.html' %}
{% block content %}
<div class="hero container">
    <div class="hero--info">
        {% if current_user.is_authenticated %}
            <h1>Практикуйте написание китайских иероглифов</h1>
            <p>Тренажер, который поможет тебе легко изучать написание китайских иероглифов. Просто следуй за подсказками на экране, и ты быстро научишься писать иероглифы правильно и красиво.</p>
            <div class="btn-group">
                <a href="/radicals">Начать</a>
            </div>
        {% else %}
            <h1>Практикуйте написание китайских иероглифов</h1>
            <p>Тренажер, который поможет тебе легко изучать написание китайских иероглифов. Просто следуй за подсказками на экране, и ты быстро научишься писать иероглифы правильно и красиво.</p>
            <div class="btn-group">
                <a href="/radicals">Начать</a>
            </div>
        {% endif %}
    </div>
    <div class="hero-logo">
        <img src="{{url_for('static', filename='img/hero-logo.png')}}" width="524" height="401" alt="">
    </div>
</div>
{% endblock %}