{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
<div class="container mt-4">
    <h2>Редактировать профиль</h2>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ render_field(form.email) }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.date_of_birth) }}
        {{ render_field(form.want_spam) }}
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}