{% extends 'base.html' %}
{% block body_class %}radicals{% endblock %}
{% block content %}
<div class="radicals container">
    <h2>{{ title }}</h2>
    {% if rad_symbols|length == 0 %}
        <p>Радикалов не найдено.</p>
    {% else %}
        <div class="cards">
  {% for rad_symbol in rad_symbols %}
   
    <div class="flip-card">
        
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-center">
            <div class="card-top">№ {{ loop.index }}</div>
            <h1>{{ rad_symbol[0] }}</h1>
            <p class="pinyin">{{ rad_symbol[1] }}</p>
            <p class="meaning">{{ rad_symbol[2] }}</p>
            <div class="card-bottom">черт: {{ rad_symbol[3] }}</div>
          </div>
        </div>
        <div class="flip-card-back">
            <div>гучи флип флап</div>
          </div>
        </div>
      </div>
     {% endfor %}
    </div>
   {% endif %}
</div>
<script>
document.querySelectorAll('.flip-card').forEach(card => {
  card.addEventListener('click', function() {
    this.classList.toggle('flipped');
  });
});
</script>
{% endblock %}





